<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/salarie/css/bootstrap.min.css') }}" />
    </head>
    <body style="height: 100%">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/salarie/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/salarie/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/salarie/js/bootstrap.bundle.js') }}"></script>
    </body>
</html>
