{% extends 'navbar.html.twig' %}

{% block body %}
    <h1 class="h1 text-center">Editer article</h1>
    <div class="col-lg-4 offset-lg-4">
        <div>
            {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_row(edit_form.libelle, { 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.poids, { 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="text-center">
                <input class="btn btn-warning" type="submit" value="Modifier" />
                <button class="btn btn-primary" onclick="document.location.href='{{ path('article_index') }}'">Retour à la liste</button>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <br/>
        <br/>
        <div class="text-center">
            <span>Voulez-vous supprimer cet article ?</span>
            {{ form_start(delete_form, { 'attr': {'id': 'formDelete'}}) }}
                <input class="btn btn-danger text-center" id="button_delete" onclick="validateDelete()" value="Oui">
            {{ form_end(delete_form) }}
        </div>
    </div>

    {% block javascripts %}
        <script type="application/javascript">
            function validateDelete() {
                if (confirm('Êtes-vous certain de vouloir supprimer cet article ?')) {
                    // Si oui, on supprime
                    $('#formDelete').submit();
                } else {
                    // Sinon, on ne valide pas le formulaire
                    return false;
                }
            }
        </script>
    {% endblock %}
{% endblock %}
