{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h1 text-center">EXPEDITOR</h1>
    <h2 class="h2 text-center">Connexion</h2>
    <div class="col-lg-4 offset-lg-4 border rounded">
        <div>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.email, { 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.password, { 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="text-center">
                {{ form_row(form.save, { 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
        <br/>
        <br/>
    </div>
{% endblock %}

