{% extends 'base.html.twig' %}

{% block body %}

    {#Navbar#}
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="#"></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <a class="nav-link btn btn-outline-warning" href="{{ path('commande_index') }}">Accueil <span
                                    class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">

                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion des employes

                            {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#Gestion des employés#}
                            {#</a>#}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('employe_new') }}">ajouter</a>
                            <a class="dropdown-item" href="{{ path('employe_index') }}">Consulter</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion des articles
                            {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {##}
                            {#</a>#}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('article_new') }}">Ajouter</a>
                            <a class="dropdown-item" href="{{ path('article_index') }}">Consulter</a>

                        </div>
                    </li>

                </ul>
                <form action="{{ path('deconnexion') }}" class="form-inline my-2 my-lg-0">

                    {#<li class="nav-item">#}
                        {#<a class="nav-link disabled" href="{{ path('employe.nom')}}" tabindex="-1" aria-disabled="true">Disabled</a>#}
                    {#</li>#}

                    {#<a class="nav-link disabled" href="{{ path('deconnexion')}}" tabindex="-1" aria-disabled="true">Disabled</a>#}
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" >Déconnexion</button>

                </form>
            </div>
        </nav>

    </div>
    {#Fin Navbar#}



    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Accueil Manager </h1><br>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color:#999999">
                <h2 class="text-center">Listes des commandes </h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">


            <tr>
                <th>Numéro</th>
                <th>Date</th>
                <th>Nom du Client</th>
                <th>Employe responsable</th>
                <th>Etat</th>
                <th>Adresse facturation</th>

            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                    <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ commande.client.nom }}</td>

                    {% if commande.employe is not null %}
                        <td>{{ commande.employe.nom }}{{ commande.employe.prenom }} </td>
                    {% else %}
                        <td> A attribuer</td>
                    {% endif %}

                    {% if commande.etat == 0 %}
                        <td>en attente</td>
                    {% else %}
                        <td>en cours</td>
                    {% endif %}

                    <td>{{ commande.client.adresse }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
        <div>

        </div>

        {#footer#}
        <div class="container-fluid fixed-bottom" style="background-color:#999999 ">
            <div class="row">
                <div class="col-sm">
                    <div class="align-content-center">
                        <h2 class="align-self-xl-center text-uppercase font-italic">Notre expérience à votre
                            service</h2>
                    </div>
                </div>
                <div class="col-sm">
                    <img class="rounded mx-auto d-block" src="{{ asset('bundles/salarie/images/logoExpeditor.png') }}"/>
                </div>
                <div class="col-sm">
                    <script charset='UTF-8'
                            src='http://www.meteofrance.com/mf3-rpc-portlet/rest/vignettepartenaire/791910/type/VILLE_FRANCE/size/PAYSAGE_VIGNETTE'
                            type='text/javascript'></script>
                </div>
            </div>


        </div>


        {#<ul>#}
        {#<li>#}
        {#<a href="{{ path('commande_new') }}">Create a new commande</a>#}
        {#</li>#}
        {#</ul>#}

    </div>
    <{% endblock %}
