{% extends 'navbar.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Accueil Manager </h1><br>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color:#999999">
                <h2 class="text-center">Listes des commandes </h2>
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#uploadFileModal">Importer un fichier de commande</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-sm table-bordered" style="margin-bottom: 150px">
            <thead class="thead-dark">


            <tr>
                <th>Numéro</th>
                <th>Date</th>
                <th>Nom du Client</th>
                <th>Employe responsable</th>
                <th>Détails articles</th>
                <th>Etat</th>
                <th>Adresse de livraison</th>

            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                    <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ commande.client.nom }}</td>

                    {% if commande.employe is not null %}
                        <td>{{ commande.employe.nom }}{{ commande.employe.prenom }} </td>
                    {% else %}
                        <td> A attribuer</td>
                    {% endif %}
                    <td>
                        {% for listArticle_Commande in commande.listArticles_Commande %}
                            {{ listArticle_Commande.article.libelle }} ({{ listArticle_Commande.quantite }}),
                        {% endfor %}
                    </td>
                    {% if commande.etat == 0 %}
                        <td>en attente</td>
                    {% else %}
                        <td>en cours</td>
                    {% endif %}

                    <td>{{ commande.client.adresse }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
        <div>

        </div>

        {#footer#}
        <div class="container-fluid fixed-bottom" style="background-color:#999999 ">
            <div class="row">
                <div class="col-sm">
                    <div class="align-content-center">
                        <h2 class="align-self-xl-center text-uppercase font-italic">Notre expérience à votre
                            service</h2>
                    </div>
                </div>
                <div class="col-sm">
                    <img class="rounded mx-auto d-block" src="{{ asset('bundles/salarie/images/logoExpeditor_grand.png') }}"/>
                </div>
                <div class="col-sm">
                    <script charset='UTF-8'
                            src='http://www.meteofrance.com/mf3-rpc-portlet/rest/vignettepartenaire/791910/type/VILLE_FRANCE/size/PAYSAGE_VIGNETTE'
                            type='text/javascript'></script>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Importation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('import_index') }}" id="fileForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="fichier" class="form-control"/>
                        </div>
                        <button type="submit">Valider</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary float-right" id="fileSubmit">Importer</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block javascripts %}
    <script type="javascript">
        $('#fileSubmit').on('click', function () {
            $('#fileForm').submit();
        });
    </script>
{% endblock %}