{% extends 'base.html.twig' %}

{% block body %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Bienvenue chez Expeditor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link badge badge-warning" href="{{ path('commande_index') }}">Accueil <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des employes

                        {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                        {#Gestion des employés#}
                        {#</a>#}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('employe_new') }}">ajouter</a>
                        <a class="dropdown-item" href="{{ path('employe_index') }}">Consulter</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des articles
                        {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                        {##}
                        {#</a>#}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('article_new') }}">Ajouter</a>
                        <a class="dropdown-item" href="{{ path('article_index') }}">Consulter</a>

                    </div>
                </li>

                {#<li class="nav-item">#}
                    {#<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
                {#</li>#}
            </ul>
            <form class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Déconnexion</button>
            </form>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Accueil Manager </h1><br>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Listes des commandes </h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">


            <tr>
                <th>Numéro</th>
                <th>Date</th>
                <th>Nom du Client</th>
                <th>Employe responsable</th>
                <th>Etat</th>
                <th>Adresse facturation</th>

            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                    <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ commande.client.nom }}</td>

                    {% if commande.employe is not null %}
                        <td>{{ commande.employe.nom }}{{ commande.employe.prenom }} </td>
                    {% else %}
                        <td> A attribuer</td>
                    {% endif %}
                    <td>{{ commande.etat }}</td>
                    <td>{{ commande.client.adresse }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>

        {#<ul>#}
        {#<li>#}
        {#<a href="{{ path('commande_new') }}">Create a new commande</a>#}
        {#</li>#}
        {#</ul>#}

    </div>
<{% endblock %}
