{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande</h1>
    <table>
        <tbody>
            <td>{{ dump(commande) }}</td>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ commande.etat }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ dump(client) }}</td>
            </tr>

            <tr>
                <th>Liste Article</th>
                {% for articleCommande in articlesCommande %}
                    <td>Article : {{ dump(articleCommande.article) }}, Quantité : {{ articleCommande.quantite }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Poids Total commande</th>
                <td>{{ commande.poidsTotal }}</td>
            </tr>
            <tr>
                <th>Poids Total commande avec Carton</th>
                <td>{{ commande.poidsTotalAvecCarton }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
