{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <br>
        <a href={{ path('deconnexion')}}><input type="button" class="btn btn-outline-danger float-right" value="Déconnexion"/></a>
    </div>

    <div class="container">
        <br>
        <h1 class="text-center">Commande n°{{ commande.id }}</h1>
        <br><br><br><br>
        <h3>Nom : {{ client.nom }}</h3>
        <h3>Adresse : {{ client.adresse }}</h3>
        <br><br>
    </div>

    <form method="get">
        <div class="container">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Libelle</th>
                        <th class="text-center">Quantité</th>
                        <th class="text-center">Vérification quantité</th>
                        <th class="text-center">Poids (g)</th>
                    </tr>
                    </thead>
                    <tbody id="table">

                    {% for articleCommande in articlesCommande %}
                        <tr name="tr" class="rowTR">
                            <td>{{ articleCommande.article.libelle }}</td>
                            <td class="text-center quantiteBase">{{ articleCommande.quantite }}</td>
                            <td class="text-center">
                                <input value="0" class="text-center form-control quantiteInput" min="0"
                                       type="number">
                            </td>
                            <td class="text-center">{{ articleCommande.article.poids }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>


        <div class="container">
            <br>
            <h3>
                Poids total : {{ commande.poidsTotal }}g
            </h3>
            <h3>
                Poids total (+ carton d'expédition) : {{ commande.poidsTotalAvecCarton }}g
            </h3>
        </div>

        <div class="container text-center">
            <br><br><br>
            <input type="button" value="Imprimer bon de livraison" class="btn btn-primary col-3" onclick="imprimer()"/>
            <input type="button" value="Valider" class="btn btn-success col-3" onclick="confirmation()"/>
        </div>
    </form>
    <div id="imprimer" style="display: none">
        <div class="container">
            <br>
            <h1 class="text-center">Commande n°{{ commande.id }}</h1>
            <br><br><br><br>
            <h3>Nom : {{ client.nom }}</h3>
            <h3>Adresse : {{ client.adresse }}</h3>
            <br><br>
        </div>

        <form method="post">
            <div class="container">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Libelle</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Poids (g)</th>
                        </tr>
                        </thead>
                        <tbody id="table">

                        {% for articleCommande in articlesCommande %}
                            <tr>
                                <td>{{ articleCommande.article.libelle }}</td>
                                <td class="text-center">{{ articleCommande.quantite }}</td>
                                <td class="text-center">{{ articleCommande.article.poids }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </form>


        <div class="container">
            <br>
            <h3>
                Poids total : {{ commande.poidsTotal }}g
            </h3>
            <h3>
                Poids total (+ carton d'expédition) : {{ commande.poidsTotalAvecCarton }}g
            </h3>
        </div>
    </div>

    <script>
        function verif(){
            var bool = false;
            $('.rowTR').each(function () {

                var quantiteBase = $(this).find('.quantiteBase');
                var quantiteInput = $(this).find('.quantiteInput');

                quantiteInput.removeClass("btn-outline-danger");
                quantiteInput.css("backgroundColor", 'white');
                quantiteInput.css("color", 'black');
                if (quantiteBase.text() != quantiteInput.val()) {
                    quantiteInput.addClass("btn-outline-danger");
                    quantiteInput.css("color", 'red');
                    bool = true;
                }
            })
            return bool;
        }
        function imprimer() {
            var divImprimer = document.getElementById("imprimer").innerHTML;

            if (verif()) {
                alert("Quantités incorrectes");
            } else {

                var myWindow = window.open();
                myWindow.document.write(divImprimer);
                myWindow.document.write('' +
                    '<STYLE type="text/css">H1 { text-align: center } TABLE{border-collapse: collapse} TD{border: 1px solid black} TH{border: 1px solid black}</STYLE>');
                myWindow.print();
                myWindow.close();


            }
        }

        function confirmation() {
            if (verif()) {
                alert("Quantités incorrectes");
            } else {
                var val = confirm("Etes vous sûr de vouloir valider le bon de commande ?");
                if (val) {
                    document.location.href='{{ path('validate_commande', {'commande' : commande.id,'employe' : employe}) }}'
                }
            }
        }

    </script>
{% endblock %}
