{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-4 offset-lg-4">
        <h1 class="text-center">Modification / suppression de l'employé</h1>

        <div class="text-center">
        </div>

        {{ form_start(edit_form) }}
            <div class="form-group">
                {{ form_row(edit_form.nom, { 'attr': { 'class': 'form-control' } })}}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.prenom, { 'attr': { 'class': 'form-control' } })}}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.mail, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="form-group">
                {{ form_row(edit_form.manager, { 'attr': { 'class': 'form-control' } }) }}
            </div>
            <div class="text-center">
                <input class="btn btn-warning" type="submit" value="Modifier" />
                <button class="btn btn-primary" onclick="document.location.href='{{ path('employe_index') }}'">Retour à la liste</button>
            </div>
        {{ form_end(edit_form) }}
    </div>
    <br/>
    <br/>
    <div class="text-center">
        {{ form_start(delete_form) }}
        <span>Voulez-vous supprimer cet employé ?</span>
        <input class="btn btn-danger text-center" type="submit" value="Oui">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
