{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-4 offset-lg-4">
        <h1 class="text-center">Modification / suppression de l'employé</h1>

        <div class="text-center">
        </div>

        {{ form_start(edit_form) }}
        <div class="form-group">
            {{ form_row(edit_form.nom, { 'attr': { 'class': 'form-control' } })}}
        </div>
        <div class="form-group">
            {{ form_row(edit_form.prenom, { 'attr': { 'class': 'form-control' } })}}
        </div>
        <div class="form-group">
            {{ form_row(edit_form.mail, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(edit_form.password, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <label>Rôles</label>
        <div class="form-group">
            <div class="float-left">
                {{ form_widget(edit_form.manager[0]) }}&nbsp;Manager
            </div>
            <div class="float-right">
                {{ form_widget(edit_form.manager[1]) }}&nbsp;Responsable commandes
            </div>
        </div>

        {#<div class="form-group col-lg-12">#}
            {#<div class="row">#}
                {#Rôle#}
            {#</div>#}
            {#<div class="text-center">#}
                {#{% if employe.manager == 1 %}#}
                    {#<label class="radio-inline float-right" for="input_resp_commande"><input type="radio" id="input_resp_commande" name="salariebundle_employe_[lol]" value="10">&nbsp;Responsable commandes</label>#}
                    {#<label class="radio-inline float-left" for="input_manager"><input type="radio" id="input_manager" name="salariebundle_employe_[test]" value="1">&nbsp;Manager</label>#}
                {#{% else %}#}
                    {#<label class="radio-inline float-right" for="input_resp_commande"><input type="radio" id="input_resp_commande" name="salariebundle_employe_[dota]" value="10">&nbsp;Responsable commandes</label>#}
                    {#<label class="radio-inline float-left" for="input_manager"><input type="radio" id="input_manager" name="salariebundle_employe_[mdr]" value="1">&nbsp;Manager</label>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}
        <br/>
        <div class="text-center">
                <input class="btn btn-warning" type="submit" value="Modifier" />
                <button class="btn btn-primary">Retour à la liste</button>
            </div>
        {{ form_end(edit_form) }}
    </div>
    <br/>
    <br/>
    <div class="text-center">
        {{ form_start(delete_form) }}
        <span>Voulez-vous supprimer cet employé ?</span>
        <input class="btn btn-danger text-center" type="submit" value="Oui" onclick="validateDelete()">
        {{ form_end(delete_form) }}
    </div>

    <script type="application/javascript">
        function validateDelete() {
            if (confirm('Êtes-vous certain de vouloir supprimer cet employé ?')) {
                // Si oui, on supprime
                document.location.href="{{ path('employe_index') }}";
            } else {
                // Sinon, on ne valide pas le formulaire
                return false
            }
        }
    </script>
{% endblock %}
