{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-4 offset-lg-4">
        <h1 class="text-center">Modification / suppression de l'employé</h1>

        <div class="text-center">
        </div>

        {{ form_start(edit_form) }}
        <div class="form-group">
            {{ form_row(edit_form.nom, { 'attr': { 'class': 'form-control' } })}}
        </div>
        <div class="form-group">
            {{ form_row(edit_form.prenom, { 'attr': { 'class': 'form-control' } })}}
        </div>
        <div class="form-group">
            {{ form_row(edit_form.mail, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(edit_form.password, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        <label>Rôles</label>
        <div class="form-group">
            <div class="float-left">
                {{ form_widget(edit_form.manager[0]) }}&nbsp;Manager
            </div>
            <div class="float-right">
                {{ form_widget(edit_form.manager[1]) }}&nbsp;Responsable commandes
            </div>
        </div>
        <br/>
        <div class="text-center">
                <input class="btn btn-warning" type="submit" value="Modifier" />
                <button class="btn btn-primary">Retour à la liste</button>
            </div>
        {{ form_end(edit_form) }}
    </div>
    <br/>
    <br/>
    <div class="text-center">
        {{ form_start(delete_form, { 'attr': { 'id': 'formDelete' } }) }}
            <span>Voulez-vous supprimer cet employé ?</span>
            <input class="btn btn-danger text-center" id="button_delete" onclick="validateDelete()" value="Oui">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        function validateDelete() {
            if (confirm('Êtes-vous certain de vouloir supprimer cet employé ?')) {
                // Si oui, on supprime
                $('#formDelete').submit();
            } else {
                // Sinon, on ne valide pas le formulaire
                return false;
            }
        }
    </script>
{% endblock %}